@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');
#app
    background: !important transparent
.Vue-Toastification__toast--default.my-custom-toast-class    
    background: #2B3856
    color: #FFF
    font-family: Cuprum 
    font-weight: 400
    font-size: 24px
    max-width 350px
.Vue-Toastification__toast-body.custom-class-1 
    font-size: 18px;