@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');
#app
    background: !important transparent
    overflow hidden
.Vue-Toastification__toast--default.my-custom-toast-class    
    overflow hidden
    background: rgba(43, 56, 86, 0.767);
    color: #FFF
    font-family: Cuprum 
    font-weight: 400
    font-size: 24px
    width 150px
.Vue-Toastification__toast-body.custom-class-1 
    overflow hidden
    width 150px
    font-size: 16px;